<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section>
        <div class="profile clearfix">
          <div class="inline-block">
              <span class="avatar"><%= image_tag(current_user.avatar.url, alt: 'Avatar', width: '100', heigth: '100', class: 'img-circle') if current_user.avatar? %></span>
              <span class="user inline"><%= link_to "#{current_user.first_name} #{current_user.last_name}", current_user, class: 'btn' %></span>
              <span class="user"><%= current_user.email %></span>
          </div>
        </div>
        <div class="stats">
          <table>
            <tbody>
              <tr>
                <th>Tweets</th>
                <th>Followings</th>
                <th>Followers</th>
              </tr>
                <td><%= link_to current_user.tweets.length, tweets_path %></td>
                <td><a href="/users/nazar/following">0</a></td>
                <td><a href="/users/nazar/followers">0</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container">
          <%= render 'tweets/tweet_form' %>
          <%= render 'tweets/tweet' %>
        </div>
      </section>
    </aside>
  </div>
</div>
