<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <%= link_to 'Twitter Clone', root_path, class: 'navbar-brand' %>
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right header-menu">
            <li class="fa fa-users">
              <%= form_tag(users_path, method: :get) do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag 'Search', name: nil %>
              <% end %>
            </li>
            <li><%= link_to 'Users', users_path, class: 'fa fa-users' %></li>
            <li><%= link_to 'Profile', current_user, class: 'fa fa-user' %></li>
            <li><%= link_to 'All tweets', tweets_path, class: 'fa fa-comment' %></li>
            <li><%= link_to "Settings", edit_user_path(current_user), class: 'fa fa-user' unless current_user.nil? %></li>
            <li><%= link_to 'Sign out', log_out_path, method: :delete, class: 'fa fa-sign-out' if current_user %></li>
            <li><%= link_to 'Log in', log_in_path, class: 'fa fa-sign-in' unless current_user %></li>
          </ul>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
